@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.custom-container {
    margin-left: 110px; /* Ajuste conforme necessário */
    margin-right: 100px; /* Ajuste conforme necessário */
  }
  body {
    font-family: 'Poppins', sans-serif;
  }