{% extends "base.html" %}
{% load static %}

{% block title %}Editar Serviços{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    <title>Editar Serviço</title>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
        .custom-container {
          margin-left: 110px; /* Ajuste conforme necessário */
          margin-right: 100px; /* Ajuste conforme necessário */
        }
        .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        padding: 5px;
        margin: 5px 0;
        }
        .alert-error {
        color: rgb(158, 4, 4);
        background-color: #e3b2b0;
        border-color: #c3e6cb;
        padding: 5px;
        margin: 5px 0;
        }
        .hover-link {
          color: black; 
          transition: color 0.3s ease; 
        }
    
        .hover-link:hover {
          color: green; 
          text-decoration: underline; 
        }
        .form-group {
            margin-bottom: 1rem;
        }
        .readonly-input {
        background-color: #e3e7e9;
        border: none;
        box-shadow: none;
        color: #414344;
        padding-left: 0;
        }
        .obs {
            border: 2px solid #d3d3d3;
        }
    </style>
</head>
<body>
    <div class="container mt-3 custom-container">
        <div class="d-flex justify-content-start align-items-center">
            <h2 class="me-auto text-success">Editar Serviço</h2>
        </div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <p>{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>

    <div class="container">
      <form id="formedicao" action="{% url 'form_edicao_servico' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
          <div class="col-md-4 form-group">
            <label class="form-label text-success">Identificador:</label>
            <input type="number" name="id_servico" class="form-control readonly-input" readonly value="{{ servico.id }}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group">
            <label class="form-label">Nome do serviço:</label>
            <input type="text" name="nome" class="form-control readonly-input" value="{{ servico.nome }}">
          </div>
          <div class="col-md-4 form-group">
            <label class="form-label">Descrição:</label>
            <input type="text" name="descricao" class="form-control readonly-input" value="{{ servico.descricao }}">
          </div>
          <div class="col-md-4 form-group">
            <label class="form-label">Custo:</label>
            <input type="text" name="custo" id="inputCusto" class="form-control readonly-input" value="{{ servico.custo }}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group">
            <label class="form-label">Valor liquido:</label>
            <input type="text" name="valor_liquido" id="inputVl" class="form-control readonly-input" value="{{ servico.valor_liquido }}">
          </div>
          <div class="col-md-4 form-group">
            <label class="form-label">Taxa Detran:</label>
            <input type="text" name="taxa_detran" id="inputTd" class="form-control readonly-input" value="{{ servico.taxa_detran }}">
          </div>
          <div class="col-md-4 form-group">
            <label class="form-label">Valor total:</label>
            <input type="text" name="valor_total" id="inputVt" class="form-control readonly-input" value="{{ servico.valor_total }}">
          </div>
        </div>
        <div class="row">
          <h5 class="me-auto">Notas adicionais</h5>
          <textarea class="form-control readonly-input obs" id="notas" name="notas" rows="5" cols="40">{{ servico.notas }}</textarea><br>
        </div>
        <div class="d-flex justify-content-end align-items-center" style="margin-top: 70px;">
          <button type="submit" class="btn btn-success me-3 mt-4">Salvar</button>
          <a href="{% url 'servicos' %}" class="btn btn-secondary me-4 mt-4">Voltar</a>
      </div>
      </form>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
            let isFormSubmitted = false;

            const form = document.getElementById('formedicao');

            // Monitorar o envio do formulário
            form.addEventListener('submit', function () {
                isFormSubmitted = true;
            });

            window.addEventListener('beforeunload', function (event) {
                if (!isFormSubmitted) {
                    const message = 'Você tem alterações não salvas. Tem certeza de que deseja sair?';
                    event.returnValue = message; // Requerido para alguns navegadores
                    return message; // Requerido para outros navegadores
                }
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
          // Seleciona os campos de valores
          const valorLiquido = document.getElementById('inputVl');
          const valorTotal = document.getElementById('inputVt');
          const taxaDetran = document.getElementById('inputTd');
          const custo = document.getElementById('inputCusto');
  
          function formatCurrency(input) {
              let value = input.value.replace(/\D/g, ''); // Remove todos os caracteres não numéricos
              if (value.length > 0) {
                  value = (value / 100).toFixed(2); // Divide por 100 e fixa em duas casas decimais
                  input.value = value.replace('.', ','); // Substitui o ponto decimal por vírgula
              } else {
                  input.value = '';
              }
          }
  
          // Adiciona evento de input para formatar conforme o usuário digita
          valorLiquido.addEventListener('input', function() {
              formatCurrency(valorLiquido);
          });
  
          valorTotal.addEventListener('input', function() {
              formatCurrency(valorTotal);
          });
  
          taxaDetran.addEventListener('input', function() {
              formatCurrency(taxaDetran);
          });
          custo.addEventListener('input', function() {
              formatCurrency(custo);
          });
      });
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}