{% extends 'base.html' %}
{% load static %}

{% block title %}Relatórios{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}" defer></script>
    <title>Relatórios e Dashboards</title>
</head>
<body>
    <div class="container mt-3">
        <h1 class="text-success">Relatórios e Dashboards</h1>
        
        <!-- Abas superiores ocupando toda a largura -->
        <ul class="nav nav-tabs mt-3 w-100 nav-justified" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="dashboards-tab" data-bs-toggle="tab" data-bs-target="#dashboards" type="button" role="tab" aria-controls="dashboards" aria-selected="true">Dashboards</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="relatorios-tab" data-bs-toggle="tab" data-bs-target="#relatorios" type="button" role="tab" aria-controls="relatorios" aria-selected="false">Relatórios</button>
            </li>
        </ul>

        <div class="tab-content mt-4" id="myTabContent">
            <!-- Conteúdo da aba Relatórios -->
            <div class="tab-pane fade" id="relatorios" role="tabpanel" aria-labelledby="relatorios-tab">
                <h2>Relatórios</h2>
                <p>Aqui você pode ver os relatórios detalhados de suas atividades.</p>
            </div>

            <!-- Conteúdo da aba Dashboards -->
            <div class="tab-pane fade show active" id="dashboards" role="tabpanel" aria-labelledby="dashboards-tab">
                
                <section class="filter d-flex flex-column align-items-start">
                    <p class="mb-2 ms-2">Período de análise</p>
                    <div class="d-flex justify-content-end gap-3">
                        <button id="btn-dias" class="btn btn-white {% if periodo == 'dias' %}active{% endif %}" onclick="filterData(this, 'dias')">15 dias</button>
                        <button id="btn-mes" class="btn btn-white {% if periodo == 'mensal' %}active{% endif %}" onclick="filterData(this, 'mensal')">Mês</button>
                    </div>
                </section>

                <div class="row grafico-container mt-0 ms-5 gap-5">
                    <div class="col-md-5 dashboard-card">
                        <h5 class="titulo-grafico">Ordens de Serviço por mês</h5>
                        <div class="grafico" id="grafico-os" style="width: 100%; overflow: visible;">
                            {{ os_grafico|safe }}
                        </div>
                    </div>
                    <div class="col-md-5 dashboard-card" >
                        <h5 class="titulo-grafico">Novos clientes por mês</h5>
                        <div class="grafico" id="grafico-clientes">
                            {{ clientes_grafico|safe }}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script>
        function filterData(button, period) {
            // Remove a classe "active" de todos os botões
            const buttons = document.querySelectorAll('.filter .btn');
            buttons.forEach(btn => btn.classList.remove('active'));

            // Adiciona a classe "active" ao botão clicado
            button.classList.add('active');
            let url = `{% url 'relatorios' %}?periodo=${period}`;
            window.location.href = url;
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGmHRZnH8aL+N5Jh5gErk6LGQ5U28VIVI5o/wjEEMaz3x46eUdiC2QxrH/K" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}