.sidebar {
    background-color: #282727;
    display: none;
    position: fixed;
    top: 65px; /* altura da navbar */
    left: 0;
    height: calc(100% - 65px); /* altura da tela menos a navbar */
    width: 120px;
    border-right: 1px solid #ccc;
    padding-top: 20px;
    z-index: 1000;
}

.sidebar a {
    display: block;
    color: #333;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.2s;
}

.sidebar a:hover {
    background-color: #e9ecef;
}
.sidebar a {
    color: #33b159;
}
.sidebar img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}
.sidebar.active {
    display: block;
}