{% extends "base.html" %}
{% load static %}

{% block title %}Consulta Clientes{% endblock %}
{% comment %} edit {% endcomment %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
        .form-group {
            margin-bottom: 1rem;
        }
        .readonly-input {
            background-color: #e3e7e9;
            border: none;
            box-shadow: none;
            color: #414344;
            padding-left: 0;
        }
        .readonly-input:focus {
            border: none;
            box-shadow: none;
        }
        .document-container {
            border: 1px solid #d3d3d3;
            padding: 15;
            margin-bottom: 10px;
            border-radius: 5px;
        }
        .document-list {
            border: 2px solid #d3d3d3;
            padding: 15px;
            border-radius: 5px;
        }
        .document-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;
        }
        .document-item p {
            margin: 0;
        }
        .document-item img {
            width: 20px;
            height: 20px;
        }
        .obs {
            border: 2px solid #d3d3d3;
        }
    </style>
    <title>Consulta Ordem Serviço</title>
</head>
<body>
    <div class="container mt-3 custom-container">
        <div class="d-flex justify-content-start align-items-center">
            <h2 class="me-auto text-success">Dados da Ordem de Serviço</h2>
            <label class="text-success me-2">Situação:</label>
            <input style="width: 190px;" name="status" type="text" class="form-control readonly-input" value="{{ ordem_servico.status }}" readonly>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 form-group">
                <label class="text-success">Nome do cliente:</label>
                <input type="text" class="form-control readonly-input" value="{{ ordem_servico.nome_cliente }}" readonly>
            </div>
            <div class="col-md-4 form-group">
                <label class="text-success">Identificador do cliente:</label>
                <input type="text" class="form-control readonly-input" value="{{ ordem_servico.cliente_id_id }}" readonly>
            </div>
            <div class="col-md-4 form-group">
                <label class="text-success">Identificador da Ordem de serviço:</label>
                <input type="text" class="form-control readonly-input" value="{{ ordem_servico.id }}" readonly>
            </div>
        </div>
        <div class="row" style="margin-top: -15px;">
            <div class="col-md-4 form-group">
                <label class="text-success">Modelo do veículo:</label>
                <input type="text" class="form-control readonly-input" value="{{ ordem_servico.modelo }}" readonly>
            </div>
            <div class="col-md-4 form-group">
                <label class="text-success">Renavam:</label>
                <input type="text" class="form-control readonly-input" value="{{ ordem_servico.renavam }}" readonly>
            </div>
            <div class="col-md-4 form-group">
                <label class="text-success">Placa:</label>
                <input type="text" class="form-control readonly-input" value="{{ ordem_servico.placa }}" readonly>
            </div>
        </div>
        <div class="row" style="margin-top: -15px;">
            <div class="col-md-4 form-group">
                <label class="text-success">Chassi:</label>
                <input type="text" class="form-control readonly-input" value="{{ ordem_servico.chassi }}" readonly>
            </div>
            <div class="col-md-4 form-group">
                <label class="text-success">Cor:</label>
                <input type="text" class="form-control readonly-input" value="{{ ordem_servico.cor }}" readonly>
            </div>
            <div class="col-md-4 form-group">
                <label class="text-success">Combustível:</label>
                <input type="text" class="form-control readonly-input" value="{{ ordem_servico.combustivel }}" readonly>
            </div>
        </div>
        <div class="row" style="margin-top: -15px;">
            <div class="col-md-4 form-group">
                <label class="text-success">CPF do Comprador:</label>
                <input type="text" class="form-control readonly-input" value="{{ ordem_servico.cpf_comprador }}" readonly>
            </div>
            <div class="col-md-4 form-group">
                <label class="text-success">Concessionária:</label>
                <input type="text" class="form-control readonly-input" value="{{ ordem_servico.concessionaria }}" readonly>
            </div>
        </div>
        <div class="row" style="margin-top: -15px;">
            <div class="col-md-4 form-group">
                <label class="text-success">Valor do Veículo:</label>
                <input type="text" class="form-control readonly-input" value="{{ ordem_servico.valor_veiculo }}" readonly>
            </div>
            <div class="col-md-4 form-group">
                <label class="text-success">Ano do Modelo:</label>
                <input type="text" class="form-control readonly-input" value="{{ ordem_servico.ano_modelo }}" readonly>
            </div>
            <div class="col-md-4 form-group">
                <label class="text-success">Data de aquisição:</label>
                <input type="date" class="form-control readonly-input" value="{{ data.data_aq }}" readonly>
            </div>
        </div>
        <hr>
        <div class="row" style="margin-top: -15px;">
            <h5 class="text-success">Serviços:</h5>
            {% for servico_os in servicos_os %}
                <div class="col-md-6 form-group">
                    <input type="text" class="form-control readonly-input" value="{{ servico_os.servico_id.descricao }} - R$ {{ servico_os.servico_id.valor_total }}" readonly>
                </div>
            {% endfor %}
        </div>
        <div class="row" style="margin-top: -15px;">
            <div class="col-md-4 form-group">
                <label class="text-success">Valor Final:</label>
                <input type="text" class="form-control readonly-input" style="color: rgb(66, 184, 66);" value="{{ ordem_servico.valor_f }}" readonly>
            </div>
            <div class="col-md-4 form-group">
                <label class="text-success">Desconto:</label>
                <input type="text" class="form-control readonly-input" value="{{ ordem_servico.desconto }}" readonly>
            </div>
            <div class="col-md-4 form-group">
                <label class="text-success">Data do Serviço:</label>
                <input type="date" class="form-control readonly-input" value="{{ data.data_servico }}" readonly>
            </div>
            <div class="col-md-4 form-group">
                <label class="text-success">Data da entrega:</label>
                <input type="date" class="form-control readonly-input" value="{{ data.data_entrega }}" readonly>
            </div>
        </div>
        <hr>
        <div class="row">
            <h5 class="text-success">Documentos:</h5>
            <div class="col-12 document-list">
                {% for documento in documentos %}
                <div class="document-item">
                    <p><strong class="text-success">Tipo Documento:</strong> {{ documento.tipo_doc }}</p>
                    <p><strong class="text-success">Documento:</strong> {{ documento.arquivo }}</p>
                    <a href="{{ documento.arquivo.url }}" title="DOWNLOAD" class="btn btn-secondary" download>
                        <img src="{% static 'images/download.png' %}" alt="Download">
                    </a>
                </div>
                {% endfor %}
            </div>
        <hr class="mt-4">
        <div class="row">
            <h5 class="me-auto text-success">Observações</h5>
            <textarea class="form-control readonly-input obs" id="observacoes" name="observacoes" rows="5" cols="40" readonly>{{ ordem_servico.observacoes }}</textarea><br>
        </div>
    </div>
</body>
</html>
{% endblock %}
