{% extends "base.html" %}
{% load static %}

{% block title %}Consulta Clientes{% endblock %}
{% comment %} edit {% endcomment %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
        .form-group p {
            margin-bottom: 0px;
        }
        .form-group {
            padding: -10px 0;
        }
        .document-container {
            padding-top: 15px;
        }
        .document-container img, .document-container iframe {
            max-width: 100%;
            height: auto;
        }
        .lista-servico {
            border: 1px solid #ccc;
            max-height: 200px;
            overflow-y: auto;
            position: absolute;
            width: calc(100% - 800px);
            background-color: white;
            margin-top: 5px;
        }
        .sugestao-servico {
            padding: 5px;
            cursor: pointer;
            font-size: 12px;
            font-family: Arial, sans-serif;
        }
        .sugestao-servico:hover {
            background-color: #f0f0f0;
        }
        .readonly-input {
            background-color: #e3e7e9;
            border: none;
            box-shadow: none;
            color: #414344;
            padding-left: 0;
        }
        .document-container {
            border: 1px solid #d3d3d3;
            padding: 15;
            margin-bottom: 10px;
            border-radius: 5px;
        }
        .document-list {
            border: 2px solid #d3d3d3;
            padding: 15px;
            border-radius: 5px;
        }
        .document-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;
        }
        .document-item p {
            margin: 0;
        }
        .document-item img {
            width: 20px;
            height: 20px;
        }
        .obs {
            border: 2px solid #d3d3d3;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div class="container mt-3 custom-container">
        <div class="d-flex justify-content-start align-items-center">
            <h2 class="me-auto text-success">Editar Ordem de Serviço</h2>
            <label class="text-success me-2">Situação:</label>
            <input style="width: 190px;" name="status" type="text" class="form-control readonly-input" value="{{ ordem_servico.status }}" readonly>
        </div>
        <hr>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <p>{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Tem certeza de que deseja excluir este serviço?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                        <form id="deleteForm" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id_ordem_servico" value="{{ ordem_servico.id }}">
                            <button type="submit" class="btn btn-success">Sim</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL PARA A ADIÇÃO DE UM NOVO SERVIÇO -->

        <div class="modal fade" id="AddServico" tabindex="-1" role="dialog" aria-labelledby="AddServicoLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="AddServicoLabel">Adicionar novo serviço</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{% url 'adicionar_servico' ordem_servico.id %}" id="AddForm"> {% csrf_token %}
                            <div class="form-group">
                                <label for="nome-servico">Nome do Serviço</label>
                                <input type="hidden" id="id_novo_servico" name="id_novo_servico">
                                <input name="nome_do_servico" required type="text" list="lista-servicos" class="form-control readonly-input" id="nome_do_servico" placeholder="Escolha um serviço" onchange="buscarServico(this)" autocomplete="off">
                                <datalist id="lista-servicos">
                                    {% for servico in servicos %}
                                        <option value="{{ servico.nome }}"></option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="form-group">
                                <label for="descricao-servico">Descrição do serviço:</label>
                                <input name="descricao" readonly type="text" class="form-control readonly-input" id="descricaoServico"> 
                            </div>
                            <div class="form-group">
                                <label for="valor-servico">Valor:</label>
                                <input type="text" readonly name="valor_servico" class="form-control readonly-input" id="valor_novo_servico">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-success">Adiçionar Serviço</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <form id="editarform" action="{% url 'form_edicao_os' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <label class="text-success">Nome do cliente:</label>
                        <input type="text" class="form-control readonly-input" value="{{ ordem_servico.nome_cliente }}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="text-success">Identificador do cliente:</label>
                        <input type="text" class="form-control readonly-input" value="{{ ordem_servico.cliente_id_id }}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="text-success">Identificador da ordem de serviço:</label>
                        <input type="text" class="form-control readonly-input" value="{{ ordem_servico.id }}" readonly>
                    </div>
                    <input type="hidden" name="id_ordem_servico" value="{{ ordem_servico.id }}">
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="text-success">Modelo do Veículo:</label>
                        <input type="text" name="modelo" class="form-control readonly-input" value="{{ data.modelo }}">
                    </div>
                    <div class="col-md-4 form-group">
                        <label class="text-success">Renavam:</label>
                        <input type="text" name="renavam" class="form-control readonly-input" value="{{ data.renavam }}">
                    </div>
                    <div class="col-md-4">
                        <label class="text-success">Placa:</label>
                        <input type="text" name="placa" class="form-control readonly-input" value="{{ data.placa }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="text-success">Chassi:</label>
                        <input type="text" name="chassi" class="form-control readonly-input" value="{{ data.chassi }}">
                    </div>
                    <div class="col-md-4">
                        <label class="text-success">Cor:</label>
                        <input type="text" name="cor" class="form-control readonly-input" value="{{ data.cor }}">
                    </div>
                    <div class="col-md-4">
                        <label class="text-success">Combustível:</label>
                        <input type="text" name="combustivel" class="form-control readonly-input" value="{{ data.combustivel }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="text-success">CPF do Vendedor:</label>
                        <input type="text" name="cpf_vendedor" class="form-control readonly-input" value="{{ data.cpf_vendedor }}">
                    </div>
                    <div class="col-md-4">
                        <label class="text-success">Concessionária:</label>
                        <input type="text" name="concessionaria" class="form-control readonly-input" value="{{ data.concessionaria }}">
                    </div>
                    <div class="col-md-4">
                        <label class="text-success">Tipo do Veículo:</label>
                        <select name="tipo_veiculo" class="form-control readonly-input" id="inputtipoveiculo" value="{{ data.tipo_veiculo }}">
                            <option value="Carro">Carro</option>
                            <option value="Moto">Moto</option>
                            <option value="Caminhão">Caminhão</option>
                            <option value="Onibus">Onibus</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="text-success">Valor do Veiculo:</label>
                        <input type="text" name="valor_veiculo" class="form-control readonly-input" value="{{ data.valor_veiculo }}">
                    </div>
                    <div class="col-md-4">
                        <label class="text-success">Ano do Modelo:</label>
                        <input type="text" name="ano_modelo" class="form-control readonly-input" value="{{ data.ano_modelo }}">
                    </div>
                    <div class="col-md-4">
                        <label class="text-success">Data de aquisição do veículo:</label>
                        <input type="text" name="data_aq" class="form-control readonly-input" value="{{ data.data_aq }}">
                    </div>
                </div>
                <hr>
                <div class="col-auto d-flex align-items-center">
                    <h5 class="text-success">Serviços:</h5>
                    <a href="" class="btn btn-success ms-3 mb-2" data-toggle="modal" data-target="#AddServico" title="ADICIONAR SERVICO">
                        Adicionar Serviço <img src="{% static 'images/new_service.png' %}" alt="" style="margin-left: 5px; width: 20px;"> 
                    </a>
                </div>

                <div class="row">
                    {% for servico_os in servicos_os %}
                        <!-- vai retornar uma instancia de Servico pois servicos_os = Servico_os.objects.filter(os_id=ordem_servico).select_related('servico_id') -->
                        {% with contador=forloop.counter %}
                            <div class="col-md-4 form-group" id="coluna{{ contador }}">
                                <p>
                                    <strong class="text-success"> Serviço: </strong>
                                    <a href="#" class="delete-button" data-toggle="modal" data-target="#confirmDeleteModal" data-url="{% url 'excluir_servico' servico_os.id %}" data-id="{{ contador }}">
                                        <img src="{% static 'images/delete.png' %}" title="EXCLUIR" style="width: 30px; height: 30px; cursor: pointer;"> 
                                    </a>
                                </p>
                                <input type="text" autocomplete='off' name="servico{{ contador }}" id="servico{{ contador }}" class="form-control readonly-input" value="{{ servico_os.servico_id.nome }}" onclick="mostrarServicos('{{ contador }}')">
                                <div id="lista-servico{{ contador }}" class="lista-servico" style="display: none;">
                                    {% for servico in servicos %}
                                        <div class="sugestao-servico" onclick="SugestaoServico('{{ servico.nome }}', '{{ contador }}', '{{ servico.valor_total }}', '{{ servico_os.valor_servico }}')">{{ servico.nome }}</div>
                                        <!-- chamar uma função que soma os valores do servico -->
                                    {% endfor %}
                                </div>
                                <p><strong class="text-success"> Valor serviço: </strong></p>
                                <input type="text" class="valor-servico form-control readonly-input" readonly id="valorServicoField{{ contador }}" name="valor_servico{{ contador }}" value="{{ servico_os.valor_servico }}">
                                <input type="hidden" name="id_servico{{ contador }}" id="idServicoField{{ contador }}" value = "{{ servico_os.servico_id }}">
                            </div>
                        {% endwith %}
                    {% endfor %}
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <label class="text-success">Valor final:</label>
                        <input type="text" name="valor_f" class="form-control readonly-input" id="valor_f" value="{{ data.valor_f }}">
                    </div>
                    <div class="col-md-4">
                        <label class="text-success">Desconto:</label>
                        <input type="text" name="desconto" class="form-control readonly-input" id="desconto" value="{{ data.desconto }}">
                    </div>
                    <div class="col-md-4">
                        <label class="text-success">Data do serviço:</label>
                        <input type="date" name="data_servico" class="form-control readonly-input" id="data_servico" value="{{ data.data_servico }}">
                    </div>
                    <div class="col-md-4">
                        <label class="text-success">Data de entrega:</label>
                        <input type="date" id="data_entrega" name="data_entrega" class="form-control readonly-input" id="data_servico" value="{{ data.data_entrega }}">
                    </div>
                    <div class="col-md-4">
                        <label class="text-success">Pendências</label>
                        <input type="text" list="lista-pendencias" name="pendencias" id="pendencias" class="form-control readonly-input" value="{{ data.pendencias }}">
                            <datalist id="lista-pendencias">
                                <option value="Nenhuma">nenhuma</option>
                                <option value="Documento">documento</option>
                            </datalist>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-auto d-flex align-items-center">
                        <h5 class="text-success">Documentos:</h5>
                        <a href="#" class="btn btn-success ms-3 mb-2" data-toggle="modal" data-target="#AddDoc" data-url="#" title="ADICIONAR DOCUMENTO">
                            Adicionar Documento <img src="{% static 'images/upload-green.png' %}" style="margin-left: 5px; width: 20px;">
                        </a>
                    </div>
                    <div class="col-12 document-list">
                        {% for documento in documentos %}
                        <div class="document-item">
                            <p><strong class="text-success">Tipo Documento:</strong> {{ documento.tipo_doc }}</p>
                            <p><strong class="text-success">Documento:</strong> {{ documento.arquivo }}</p>
                            <a href="{{ documento.arquivo.url }}" title="DOWNLOAD" class="btn btn-secondary" download>
                                <img src="{% static 'images/download.png' %}" alt="Download">
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                <hr class="mt-4">
                <div class="row">
                    <h5 class="me-auto text-success">Observações</h5>
                    <textarea class="form-control readonly-input obs" id="observacoes" name="observacoes" rows="5" cols="40">{{ ordem_servico.observacoes }}</textarea><br>
                </div>
                <div class="d-flex justify-content-end align-items-center" style="margin-top: 16px;">
                    <a href="{% url 'ordem_servico' %}" class="btn btn-secondary me-3 mt-4">Voltar</a>
                    <button type="submit" id="save-button" class="btn btn-success mt-4">Salvar</button>
                </div>
            </form>
        </div>
    </div>
    <script>

        function buscarServico(inputElement) {
            console.log("entrou na função");
            let id_novo_servico = document.getElementById("id_novo_servico");
            let servico = inputElement.value;
            console.log("nome do servico escolhido: ", servico)
            let descricao_servico = document.getElementById("descricaoServico");
            let valor_servico = document.getElementById('valor_novo_servico');

            $.ajax({
                url: "{% url 'buscar_servico' %}",
                type: "GET",
                data: {
                    'servico': servico
                },
                success: function (data) {
                    if (data) {
                        id_novo_servico.value = data.id_servico;
                        descricao_servico.value = data.desc;
                        valor_servico.value = data.valor_total;
                    }
                }
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            let isFormSubmitted = false;

            const form = document.getElementById('editarform');
            const modal_delete = document.getElementById('deleteForm')
            const modal_add = document.getElementById('AddForm');
            console.log(form);

            // Monitorar o envio do formulário
            form.addEventListener('submit', function () {
                isFormSubmitted = true;
            });

            modal_delete.addEventListener('submit', function () {
                isFormSubmitted = true;
            });
            modal_add.addEventListener('submit', function () {
                isFormSubmitted = true;
            });

            window.addEventListener('beforeunload', function (event) {
                if (!isFormSubmitted) {
                    const message = 'Você tem alterações não salvas. Tem certeza de que deseja sair?';
                    event.returnValue = message; // Requerido para alguns navegadores
                    return message; // Requerido para outros navegadores
                }
            });
        });

        function SugestaoServico(descricao_escolhida, index, valor_servico, valor_anterior) {
            document.getElementById('lista-servico' + index).style.display = 'none';
            var id_servico = 'idServicoField' + index
            var id_valor = 'valorServicoField' + index
            var servico = 'servico' + index
            var idServicoField = document.getElementById(id_servico);
            var valorServicoField = document.getElementById(id_valor);
            var tipo_servico = document.getElementById(servico);
            $.ajax({
                url: "{% url 'buscar_servico' %}",
                type: "GET",
                data: {
                    'servico': descricao_escolhida
                },
                success: function (data) {
                    if (data) {
                        tipo_servico.value = descricao_escolhida
                        idServicoField.value = data.id_servico;
                        valorServicoField.value = data.valor_total;
                        idServicoField.name = 'id_servico_alterado' + index;
                        SomaValorFinal();
                    }
                }
            });
        }
        function SomaValorFinal() {
                var descontoElement = document.getElementById('desconto');
                var desconto = parseInt(descontoElement.value);
                let sum = 0;
                const valorServicoFields = document.querySelectorAll('.valor-servico');
                valorServicoFields.forEach(field => {
                    let value = parseInt(field.value) || 0;
                    sum += value;
                });
                let valorFinal = sum;
                if (desconto > 0) {
                    valorFinal -= desconto;
                }
                document.getElementById('valor_f').value = valorFinal + ',00';
            }
        
        document.addEventListener('DOMContentLoaded', (event) => {
            SomaValorFinal();
        });

        document.addEventListener('click', function(event) {
            var listaSugestoes = document.querySelectorAll('.lista-servico');
            listaSugestoes.forEach(function(lista) {
                var inputid = lista.id.replace('lista-servico', 'servico');
                var input = document.getElementById(inputid)
                if (!lista.contains(event.target) && event.target !== input) {
                    lista.style.display = 'none';
                }
            });
        });

        function mostrarServicos(index) {
            document.getElementById('lista-servico'+ index).style.display = 'block';
        }

        function deletarServico(index) {
            var col = document.getElementById('coluna' + index);
            if (col) {
                col.remove();
                SomaValorFinal();
            }
        }
    
        function modalDelete(index) {
            const deleteButton = document.querySelector(`[data-id="${index}"]`);
            if (deleteButton) {
                deleteButton.addEventListener('click', function () {
                    const url = deleteButton.getAttribute('data-url');
                    const modalForm = document.getElementById('deleteForm');
                    modalForm.setAttribute('action', url);
                    modalForm.onsubmit = function (event) {
                        event.preventDefault();
                        deletarServico(index);
                        $('#confirmDeleteModal').modal('hide');
                        this.submit();
                    };
                });
            }
        }
    
        const deleteButtons = document.querySelectorAll('.delete-button');
        deleteButtons.forEach(button => {
            const index = button.getAttribute('data-id');
            modalDelete(index);
        });

        document.getElementById("desconto").addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault(); // Previne a ação padrão do Enter (submeter um formulário, por exemplo)
                adicionarDesconto(this);
            }
        });

        function adicionarDesconto(input) {
            let valor_do_desconto = parseInt(input.value);
            let valor_final_input = document.getElementById("valor_f");
            let valor_final = parseInt(valor_final_input.value);

            if (!isNaN(valor_do_desconto) && !isNaN(valor_final)) {
                let valor_final_desconto = valor_final - valor_do_desconto;
                valor_final_input.value = valor_final_desconto.toString() + ",00";
            } else {
                alert("Por favor, insira valores válidos.");
            }
        }
        document.addEventListener('DOMContentLoaded', function() {
            const desconto = document.getElementById('desconto');

            function formatCurrency(input) {
                let value = input.value.replace(/\D/g, ''); // Remove todos os caracteres não numéricos
                if (value.length > 0) {
                    value = (value / 100).toFixed(2); // Divide por 100 e fixa em duas casas decimais
                    input.value = value.replace('.', ','); // Substitui o ponto decimal por vírgula
                } else {
                    input.value = '';
                }
            }

            desconto.addEventListener('input', function() {
                formatCurrency(desconto);
            })
            
        });
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}