{% extends "base.html" %}
{% load static %}

{% block title %}Nova Os{% endblock %}
{% comment %} edit {% endcomment %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/newos.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    <title>Document</title>
    <style>
        .custom-container {
            margin-left: 110px; /* Ajuste conforme necessário */
            margin-right: 100px; /* Ajuste conforme necessário */
        }
        body {
            font-family: 'Poppins', sans-serif;
        }
        .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        padding: 5px;
        margin: 5px 0;
        }
        .alert-error {
        color: rgb(158, 4, 4);
        background-color: #e3b2b0;
        border-color: #c3e6cb;
        padding: 5px;
        margin: 5px 0;
        }
        .lista-sugestoes {
            border: 1px solid #ccc;
            max-height: 200px;
            overflow-y: auto;
            position: absolute;
            width: calc(100% - 800px);
            background-color: rgb(222, 221, 221);
            margin-top: 5px;
        }

        .sugestao-item {
            padding: 5px;
            cursor: pointer;
            font-size: 12px;
            font-family: Arial, sans-serif;
        }

        .sugestao-item:hover {
            background-color: rgb(90, 212, 90);
        }
        .readonly-input {
            background-color: #e3e7e9;
            border: none;
            box-shadow: none;
            color: #414344;
            padding-left: 0;
        }
        #clientes-list {
            position: absolute;
            width: 100%;
            z-index: 1000;
            background-color: white;
            border: 1px solid #ccc;
            display: none;
        }

        #clientes-list li {
            padding: 5px;
            cursor: pointer;
        }

        #clientes-list li:hover {
            background-color: #8cd3a2;
        }
    </style>
</head>
<body>
    <div class="container mt-3 custom-container">
        <div class="d-flex justify-content-start align-items-center">
            <h2 class="me-auto text-success">Nova ordem de Serviço</h2>
            <label class="text-success me-2">Situação:</label>
            <input style="width: 190px;" name="status" type="text" class="form-control readonly-input" value="Pendente" readonly>
        </div>
    </div>
    <div class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <p>{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <!-- Adicione um menu com abas -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active text-success" id="dadosCliente-tab" data-bs-toggle="tab" data-bs-target="#dadosCliente" type="button" role="tab" aria-controls="dadosCliente" aria-selected="true">Dados do Cliente</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-success" id="dadosVeiculo-tab" data-bs-toggle="tab" data-bs-target="#dadosVeiculo" type="button" role="tab" aria-controls="dadosVeiculo" aria-selected="false">Dados do Veículo</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-success" id="dadosServico-tab" data-bs-toggle="tab" data-bs-target="#dadosServico" type="button" role="tab" aria-controls="dadosServico" aria-selected="false">Dados Do Serviço</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-success" id="dadosDocumentos-tab" data-bs-toggle="tab" data-bs-target="#dadosDocumentos" type="button" role="tab" aria-controls="dadosDocumentos" aria-selected="false">Documentos</button>
            </li>
        </ul>

        <!-- AQUI COMEÇA AS ABAS DE CONTEÚDO -->
        <form id="cadastroForm" action="{% url 'nova_ordem_de_servico' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <input type="hidden" name="status" id="status" value="pendente">
            <div class="tab-content" id="myTabContent">
                <!-- AQUI COMEÇA A ABA DOS DADOS DO CLIENTE -->
                    <div class="tab-pane fade show active" id="dadosCliente" role="tabpanel" aria-labelledby="dadosCliente-tab">
                        <div class="row">
                            <div class="col">
                                <label for="inputName" class="form-label text-success">Nome do Cliente *</label>
                                
                                <input type="text" id="inputName" name="name" placeholder="nome do cliente" class="form-control readonly-input" autocomplete="off">
                                <ul id="clientes-list" class="dropdown-menu" style="display: none;"></ul>
                            </div>
                        </div>
                        <div class="row">
                            <input type="hidden" name="id_cliente" id="cliente_id">
                            <span id="status-icon"></span>
                            <div class="col">
                                <label for="inputFones" class="form-label">CPF/CNPJ</label>
                                <input name="cpfcnpj" type="number" class="form-control readonly-input" id="inputCpfcnpj">
                            </div>
                            <div class="col">
                                <label for="inputFones" class="form-label">Telefone</label>
                                <input name="telefone" type="number" class="form-control readonly-input" id="inputFones" >
                            </div>
                            <div class="col">
                                <label for="inputCEP" class="form-label">CEP</label>
                                <input name="cep" type="number" class="form-control readonly-input" id="inputCep" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inputFones" class="form-label">Cidade</label>
                                <input name="cidade" type="text" class="form-control readonly-input" id="inputCidade" >
                            </div>
                            <div class="col">
                                <label for="inputFones" class="form-label">Bairro</label>
                                <input name="bairro" type="text" class="form-control readonly-input" id="inputBairro" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inputFones" class="form-label">Número</label>
                                <input name="numero" type="number" class="form-control readonly-input" id="inputNum">
                            </div>
                        </div>
                    </div>
                    <!-- AQUI COMEÇA A ABA DOS DADOS DO VEÍCULO -->
                    <div class="tab-pane fade" id="dadosVeiculo" role="tabpanel" aria-labelledby="dadosVeiculo-tab">
                        <div class="row">
                            <div class="col">
                                <label for="inputRenavam" class="form-label">Renavam *</label>
                                <input name="renavam" type="numer" class="form-control readonly-input" id="inputRenavam" autocomplete="off">
                            </div>
                            <div class="col">
                                <label for="inputCpfCnpj" class="form-label">Placa *</label>
                                <input name="placa" type="text" class="form-control readonly-input" id="inputPlaca" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inputCpfCnpj" class="form-label">Valor da Compra</label>
                                <input name="valor" type="number" class="form-control readonly-input" id="inputValor" autocomplete="off">
                            </div>
                            <div class="col">
                                <label for="inputCpfCnpj" class="form-label">Chassis</label>
                                <input name="chassi" type="number" class="form-control readonly-input" id="inputChassi" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inputCor" class="form-label">Cor</label>
                                <input name="cor" type="text" class="form-control readonly-input" id="inputCor" autocomplete="off">
                            </div>
                            <div class="col">
                                <label for="inputCpfCnpj" class="form-label">Combustível *</label>
                                <select name="combustivel" class="form-control readonly-input" id="inputCombustível" >
                                    <option value="Gasolina">Gasolina</option>
                                    <option value="Diesel">Diesel</option>
                                    <option value="GNV">GNV</option>
                                    <option value="Eletrico">Elétrico</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inputCpfCnpj" class="form-label">CPF do Vendedor *</label>
                                <input name="cpf_vendedor" type="text" class="form-control readonly-input" id="inputcpf_comprador" autocomplete="off">
                            </div>
                            <div class="col">
                                <label for="inputCpfCnpj" class="form-label">Concessionaria</label>
                                <input name="concessionaria" type="text" class="form-control readonly-input" id="inputconcessionaria" autocomplete="off">
                            </div>
                            <div class="col">
                                <label for="inputCpfCnpj" class="form-label">Tipo do veículo *</label>
                                <select name="tipo_veiculo" class="form-control readonly-input" id="inputtipoveiculo">
                                    <option value="Carro">Carro</option>
                                    <option value="Moto">Moto</option>
                                    <option value="Caminhão">Caminhão</option>
                                    <option value="Onibus">Onibus</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inputCpfCnpj" class="form-label">Data de Aquisição</label>
                                <input name="data" type="date" class="form-control readonly-input" id="inputDataA" >
                            </div>
                            <div class="col">
                                <label for="inputCpfCnpj" class="form-label">Modelo *</label>
                                <input name="modelo" type="text" class="form-control readonly-input" id="inputModelo" autocomplete="off">
                            </div>
                            <div class="col">
                                <label for="inputCpfCnpj" class="form-label">Ano do Veículo *</label>
                                <input name="ano" type="number" class="form-control readonly-input" id="inputAno" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <!-- AQUI COMEÇA A ABA DE DADOS DO SERVIÇO -->
                    <div class="tab-pane fade" id="dadosServico" role="tabpanel" aria-labelledby="dadosServico-tab">
                        <!-- Campos dos dados iniciais -->
                        <div class="row">
                            <div class="col">
                                <label for="inputServico" class="form-label">Serviço *</label>
                                <input type="hidden" name="id_servico" id="id_servico">
                                <input name="servico" type="text" list="lista-servicos" class="form-control readonly-input" id="inputServico" placeholder="Serviço" onchange="buscarServico(this)" autocomplete="off">
                                <span id="status_servico"></span>
                                <datalist id="lista-servicos">
                                    {% for servico in servicos %}
                                        <option value="{{ servico.nome }}"></option>
                                    {% endfor %}
                                </datalist> 
                            </div>
                            <a href="#" onclick="adicionarInputs(1); return false;" style="width: 35px;height: 35px; margin-top: 32px;">
                                <img src="{% static 'images/add.png' %}" title="ADICIONAR SERVICO" style="width: 37px; height: 37px; margin-left: -14px;">
                            </a>
                            <div class="col">
                                <label for="inputValorservico" class="form-label">Valor do serviço *</label>
                                <input name="valorservico" id="inputValorservico" type="text" class="form-control readonly-input">
                            </div>
                        </div>
                        <div id="novoservico"></div>
                        <div class="row">
                            <div class="col">
                                <label for="inputPendencias" class="form-label">Pendências</label>
                                <input type="text" list="lista-pendencias" name="pendencias" id="inputPendencias" class="form-control readonly-input">
                                    <datalist id="lista-pendencias">
                                        <option value="Nenhuma">nenhuma</option>
                                        <option value="Documento">documento</option>
                                    </datalist>
                            </div>
                            <div class="col">
                                <label for="inputDtentrega" class="form-label">Data de entrega *</label>
                                <input name="dtentrega" type="date" class="form-control readonly-input" id="inputdtentrega" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inputDesconto" class="form-label">Desconto</label>
                                <input name="desconto" type="text" class="form-control readonly-input" id="inputDesconto" autocomplete="off">
                            </div>
                            <div class="col">
                                <label for="inputvalorfinal" class="form-label">Valor Final do Serviço R$ *</label>
                                <input name="vfinal" type="text" value="0" class="form-control readonly-input" id="inputvfinal" >
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="dadosDocumentos" role="tabpanel" aria-labelledby="dadosDocumentos-tab">
                        <div class="row">
                            <div class="col mt-3">
                                <h4 class="me-auto text-success" style="margin-top: 12px;">Documentos</h4>
                                <label for="file_name" class="form-label" aria-required="true">Tipo do Documento *</label>
                                <select name="tipo_doc" id="tipo_doc" class="form-control readonly-input">
                                    <option value="CNH">CNH</option>
                                    <option value="CLRV">CLRV</option>
                                    <option value="ATPV">ATPV</option>
                                    <option value="Recibo_compra">Recibo de Compra e venda</option>
                                </select>
                                <label for="file">Arquivo: </label>
                                <input class="form-control" type="file" name="file" id="file"><br><br>
                                <a href="#" class="btn btn-success me-2" style="margin-top: -70px;" onclick="adicionarDocumento(1); return false;"> Novo documento </a>
                            </div>
                            <div class="col" style="margin-left: 60px; margin-top: 30px;">
                                <h4 class="me-auto text-success">Observações</h4>
                                <textarea class="form-control" id="observacoes" name="observacoes" rows="5" cols="40"></textarea><br>
                            </div>
                        </div>
                        <div id="novodocumento">

                        </div>
                        <div class="d-flex justify-content-end align-items-center" style="margin-top: 110px;">
                            <a href="{% url 'ordem_servico' %}" class="btn btn-secondary me-3 mt-4">Voltar</a>
                            <button type="submit" class="btn btn-success mt-4">Salvar</button>
                        </div>
                    </div>
            </div>
        </form> 
    </div>

    <script>

        document.addEventListener("DOMContentLoaded", function() {
            const data_list = document.getElementById('lista-servicos');
            
            // Captura eventos de 'change' em inputs com id que começa com 'inputServico', mesmo que criados dinamicamente
            document.addEventListener('change', function(event) {
                if (event.target && event.target.id.startsWith('inputServico')) {
                    const inputValue = event.target.value;
                    let validSelection = false;

                    // Verifica se o valor corresponde a uma opção do datalist
                    for (let option of data_list.options) {
                        if (inputValue === option.value) {
                            validSelection = true;
                            break;
                        }
                    }

                    // Obtém o elemento de status correspondente
                    const status = event.target.parentElement.querySelector('#status_servico');

                    if (validSelection) {
                        status.textContent = "✅ Serviço selecionado!";
                        status.style.color = "green";
                    } else {
                        status.textContent = "⚠️ Selecione um serviço da lista!";
                        status.style.color = "gray";
                    }
                }
            });
        });

        $(document).ready(function () {
            console.log("DOM carregado");

            let activeIndex = -1;

            $("#inputName").on("keyup", function (event) {
                let query = $(this).val();
                if (query.length > 1) {
                    $.ajax({
                        url: "{% url 'buscar_cliente' %}",
                        data: {
                            'nome': query
                        },
                        success: function (data) {
                            let clientesList = $("#clientes-list");
                            clientesList.empty();
                            if (data.data.length > 0) {
                                data.data.forEach(function (cliente) {
                                    clientesList.append(`<li class="dropdown-item" data-id="${cliente.id}" data-cpfcnpj="${cliente.cpfcnpj}" data-telefone="${cliente.telefone}" data-cep="${cliente.cep}" data-cidade="${cliente.cidade}" data-bairro="${cliente.bairro}" data-numero="${cliente.numero}">${cliente.name}</li>`);
                                });
                                clientesList.show();
                                activeIndex = -1; // Reinicia o índice ativo
                            } else {
                                clientesList.hide();
                            }
                        }
                    });
                } else {
                    $("#clientes-list").hide();
                }

                // Navegação com setas
                if (event.key === "ArrowDown" || event.key === "ArrowUp") {
                    event.preventDefault(); // Previne rolagem
                }
            });

            $(document).on("click", "#clientes-list li", function () {
                selecionarCliente($(this));
            });

            // Adiciona evento de teclado para navegação no dropdown
            $("#inputName").on("keydown", function (event) {
                const items = $("#clientes-list li");

                if (items.length > 0) {
                    if (event.key === "ArrowDown") {
                        activeIndex++;
                        if (activeIndex >= items.length) {
                            activeIndex = 0; // Volta para o primeiro item
                        }
                        highlightActiveItem(items);
                    } else if (event.key === "ArrowUp") {
                        activeIndex--;
                        if (activeIndex < 0) {
                            activeIndex = items.length - 1; // Vai para o último item
                        }
                        highlightActiveItem(items);
                    } else if (event.key === "Enter") {
                        event.preventDefault(); // Evita o envio do formulário
                        if (activeIndex >= 0) {
                            selecionarCliente($(items[activeIndex]));
                        }
                    }
                }
            });

            // Função para destacar o item ativo no dropdown
            function highlightActiveItem(items) {
                items.removeClass("active"); // Remove a classe active de todos os itens
                if (activeIndex >= 0 && activeIndex < items.length) {
                    $(items[activeIndex]).addClass("active"); // Adiciona a classe active ao item ativo
                }
            }

            // Função para preencher os campos com as informações do cliente
            function selecionarCliente(cliente) {
                let nome = cliente.text();
                let clienteId = cliente.data("id");
                let cpfcnpj = cliente.data("cpfcnpj");
                let telefone = cliente.data("telefone");
                let cep = cliente.data("cep");
                let cidade = cliente.data("cidade");
                let bairro = cliente.data("bairro");
                let numero = cliente.data("numero");

                $("#inputName").val(nome);
                $("#cliente_id").val(clienteId);
                $("#inputCpfcnpj").val(cpfcnpj);
                $("#inputFones").val(telefone);
                $("#inputCep").val(cep);
                $("#inputCidade").val(cidade);
                $("#inputBairro").val(bairro);
                $("#inputNum").val(numero);

                $("#clientes-list").hide();
                verificarClienteID(); // Verifica se o cliente foi selecionado
            }

            // Função para verificar se o id do cliente está vazio
            const clienteId = document.getElementById("cliente_id");
            const statusIcon = document.getElementById("status-icon");
            
            function verificarClienteID() {
                if (!clienteId.value) {
                    statusIcon.innerHTML = "⚠️ Selecione um cliente da lista!";
                    statusIcon.style.color = "gray";
                } else {
                    statusIcon.innerHTML = "✅ Cliente selecionado!";
                    statusIcon.style.color = "green";
                }
            }

            // Limpar o id_cliente se o usuário começar a digitar manualmente
            $("#inputName").on("input", function () {
                clienteId.value = '';  // Limpa o id do cliente, forçando o usuário a selecionar
                verificarClienteID();  // Verifica se está nulo
            });

            // Inicializa a verificação quando a página é carregada
            verificarClienteID();
        });
        
        document.addEventListener('click', function(event) {
                var listaSugestoes = document.getElementById('lista-sugestoes');
                var input = document.getElementById('nome');
                if (!listaSugestoes.contains(event.target) && event.target !== input) {
                    listaSugestoes.style.display = 'none';
                }
            });
        function mostrarSugestoes() {
            document.getElementById('lista-sugestoes').style.display = 'block';
        }
        // busca o serviço conforme o valor passado
        function buscarServico(inputElement) {
            valor_suposto1 = document.getElementById("inputValorservico1");
            valor_suposto2 = document.getElementById("inputValorservico2");
            valor_final = document.getElementById("inputvfinal");
            const servico = inputElement.value;
            const parentDiv = inputElement.closest('.row'); // Encontra a div mais próxima com a classe 'row'
            const idServicoField = parentDiv.querySelector('input[type="hidden"]').id;
            const valorServicoField = parentDiv.querySelector('input[id^="inputValorservico"]').id;
            $.ajax({
                url: "{% url 'buscar_servico' %}",
                type: "GET",
                data: {
                    'servico': servico
                },
                success: function (data) {
                    if (data) {
                        document.getElementById(idServicoField).value = data.id_servico;
                        document.getElementById(valorServicoField).value = data.valor_total;
                        if (valor_suposto1) {
                            var valor1 = parseInt(valor_suposto1.value);
                            var valor_original = parseInt(valor_final.value);
                            let soma = valor1 + valor_original;
                            let soma_str = soma.toString();
                            if (valor_suposto2){
                                let valor2 = parseInt(valor_suposto2.value);
                                soma = valor2 + valor_original;
                                console.log("essa é a soma do 2:", soma);
                                soma_str = soma.toString();
                            }
                            valor_final.value = soma_str + ",00";
                        } else {
                            valor_final.value = data.valor_total;
                        }
                    }
                }
            });
        }

        document.getElementById("inputDesconto").addEventListener("keypress", function(event) {
            if (event.key === "Enter") {
                event.preventDefault(); // Previne a ação padrão do Enter (submeter um formulário, por exemplo)
                adicionarDesconto(this);
            }
        });

        function adicionarDesconto(input) {
            let valor_do_desconto = parseInt(input.value);
            let valor_final_input = document.getElementById("inputvfinal");
            let valor_final = parseInt(valor_final_input.value);

            if (!isNaN(valor_do_desconto) && !isNaN(valor_final)) {
                let valor_final_desconto = valor_final - valor_do_desconto;
                valor_final_input.value = valor_final_desconto.toString() + ",00";
            } else {
                alert("Por favor, insira valores válidos.");
            }
        }
        document.addEventListener('DOMContentLoaded', function() {
            const desconto = document.getElementById('inputDesconto');

            function formatCurrency(input) {
                let value = input.value.replace(/\D/g, ''); // Remove todos os caracteres não numéricos
                if (value.length > 0) {
                    value = (value / 100).toFixed(2); // Divide por 100 e fixa em duas casas decimais
                    input.value = value.replace('.', ','); // Substitui o ponto decimal por vírgula
                } else {
                    input.value = '';
                }
            }

            desconto.addEventListener('input', function() {
                formatCurrency(desconto);
            })
            
        });

    document.addEventListener('DOMContentLoaded', function () {
        // Adiciona um evento de clique para cada botão de aba
        var tabs = document.querySelectorAll('[data-bs-toggle="tab"]');
        tabs.forEach(function (tab) {
            tab.addEventListener('click', function () {
                // Obtém o ID da aba clicada
                var target = tab.getAttribute('data-bs-target');
                // Oculta todas as abas
                document.querySelectorAll('.tab-pane').forEach(function (pane) {
                    pane.classList.remove('show', 'active');
                });
                // Mostra a aba correspondente ao ID clicado
                document.querySelector(target).classList.add('show', 'active');
            });
        });
    });

    // var contador = 1;
    function adicionarInputs(contador) {
        servico_passado = document.getElementById("inputValorservico1");
        if (servico_passado){
            contador = 2
            // apartir de agora o contador vai ser 2, todos os ids terão 2 no final
        }
        if (document.getElementById("inputValorservico2")) {
            return;
        }
        var row = document.createElement("div");
        row.className = "row mb-3";

        var col1 = document.createElement("div");
        col1.className = "col";
        var col2 = document.createElement("div");
        col2.className = "col";
        // var col3 = document.createElement("div");
        // col3.className = "col";

        var label1 = document.createElement("label");
        label1.htmlFor = `inputServico${contador}`;
        label1.className = "form-label";
        label1.innerText = "Serviço";

        var input1 = document.createElement("input");
        input1.name = `servico${contador}`;
        input1.type = "text";
        input1.className = "form-control readonly-input";
        input1.setAttribute("list", "lista-servicos");
        input1.id = `inputServico${contador}`;
        input1.placeholder = "Serviço";
        input1.setAttribute("autocomplete", "off");
        input1.setAttribute("onchange", "buscarServico(this)"); // Passando o elemento como argumento
        // input do ID:
        var input3 = document.createElement("input");
        input3.name = `id_servico${contador}`; // apenas esse input hidden será passado para o backend
        input3.type = "hidden";
        input3.id = `id_servico${contador}`;

        var btnRemove = document.createElement("a");
        btnRemove.href = "#";
        // btnRemove.className = "btn btn-danger me-2";
        btnRemove.style.width = "30px";
        btnRemove.style.height = "35px";
        btnRemove.style.marginTop = "30px";
        btnRemove.style.marginRight = "35px";

        var deleteImg = document.createElement("img");
        deleteImg.src = "{% static 'images/delete.png' %}";
        deleteImg.width = 38;
        deleteImg.height = 39;
        deleteImg.title = "DELETAR SERVIÇO";

        btnRemove.addEventListener("click", function () {
            row.remove();
            var valor_final = document.getElementById("inputvfinal");
            var valor1 = parseInt(input2.value);
            if (isNaN(valor1)) {
                return;
            }
            var valor_original = parseInt(valor_final.value);
            var sub = valor_original - valor1;
            var sub_str = sub.toString()
            if (isNaN(sub_str)){
                sub_str = "00"
            } 
            valor_final.value = sub_str + ",00";
        });

        var label2 = document.createElement("label");
        label2.htmlFor = `inputValorservico${contador}`;
        label2.className = "form-label";
        label2.innerText = "Valor do serviço";

        var input2 = document.createElement("input");
        input2.name = `valorservico${contador}`;
        input2.type = "text";
        input2.className = "form-control readonly-input";
        input2.id = `inputValorservico${contador}`;
        input2.placeholder = "Valor do Serviço";

        btnRemove.appendChild(deleteImg);
        col1.appendChild(label1);
        col1.appendChild(input1);
        col1.appendChild(input3); // Adicionando o input escondido na mesma coluna
        col2.appendChild(label2);
        col2.appendChild(input2);
        // col3.appendChild(btnRemove);

        row.appendChild(col1);
        row.appendChild(btnRemove);
        row.appendChild(col2);

        document.getElementById("novoservico").appendChild(row);
    }

    function adicionarDocumento(contador) {
        documento_passado = document.getElementById("tipo_doc1");
        if (documento_passado) {
            contador = 2;
        }
        if (document.getElementById("tipo_doc2")) {
            return;
        }
        var row = document.createElement("div");
        row.className = "row justify-content-end mb-2";

        var col1 = document.createElement("div");
        col1.className = "col";
        var col2 = document.createElement("div");
        col2.className = "col";

        var label1 = document.createElement("label");
        label1.htmlFor = `file_name${contador}`;
        label1.className = "form-label";
        label1.innerText = "Tipo do Documento:";
        var select1 = document.createElement("select");
        select1.name = `tipo_doc${contador}`;
        select1.id = `tipo_doc${contador}`;
        select1.className = "form-control readonly-input";
        var options = ['CNH', 'CLRV', 'ATPV', 'Recibo de Compra e venda'];
        options.forEach(function(optionText) {
            var option = document.createElement('option');
            option.value = optionText;
            option.textContent = optionText;
            select1.appendChild(option);
        });
        var label2 = document.createElement("label");
        label2.htmlFor = `file${contador}`;
        label2.innerText = "Arquivo:";

        var inputFile = document.createElement('input');
        inputFile.type = 'file';
        inputFile.name = `file${contador}`;
        inputFile.id = `file${contador}`;
        inputFile.required = true;
        inputFile.className = "form-control";

        var btnRemove = document.createElement("a");
        btnRemove.href = "#";
        btnRemove.className = "btn btn-danger mb-4";
        btnRemove.innerText = "Remover documento";
        btnRemove.style.marginLeft = "19px";
        btnRemove.style.marginTop = "30px";

        btnRemove.addEventListener("click", function () {
            row.remove();
        });

        col1.appendChild(label1);
        col1.appendChild(select1);
        col1.appendChild(label2); // Adicionando o input escondido na mesma coluna
        col1.appendChild(inputFile);
        col1.appendChild(btnRemove);

        row.appendChild(col1);
        row.appendChild(col2);

        document.getElementById("novodocumento").appendChild(row);
    }
    
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}