{% extends "base.html" %}
{% load static %}

{% block title %}Deesp Ordem Serviço{% endblock %}
{% comment %} edit {% endcomment %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <script src="{% static "clientes/methods.js" %}"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <script src="{% static 'home/js/javascript.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    <title>Ordem de serviço</title>
</head>
<style>
    body {
            font-family: 'Poppins', sans-serif;
        }
    .hover-link {
        color: rgb(225, 225, 225); /* Cor padrão do link */
        transition: color 0.3s ease; /* Transição de cor durante o hover */
    }  
    .hover-link:hover {
    color: rgb(156, 161, 156); /* Cor do link ao passar o mouse por cima */
    }
    .custom-container {
        margin-left: 110px; /* Ajuste conforme necessário */
        margin-right: 100px; /* Ajuste conforme necessário */
    }
    .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        padding: 5px;
        margin: 5px 0;
    }
    .alert-error {
        color: rgb(158, 4, 4);
        background-color: #e3b2b0;
        border-color: #c3e6cb;
        padding: 5px;
        margin: 5px 0;
    }
    #divFiltro {
        display: none; /* Oculta o formulário de filtro inicialmente */
        position: relative;
        background-color: white;
        border: 2px solid #ccc;
        padding: 5px;
        z-index: 1000;
    }
    .readonly-input {
        background-color: #d4dade;
        border: none;
        box-shadow: none;
        color: #495057;
        padding-left: 0;
        }
    .option-box {
        display: none;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        width: 180px;
        border-radius: 5px;
    }
    .option-link {
        height: 25px;
        display: block;
        padding: 10px;
        color: #333;
        text-decoration: none;
        border-bottom: 1px solid #ccc;
        font-size: 12px;
    }
    .option-link:hover {
        background-color: #f0f0f0;
    }
    .option-link:last-child {
        border-bottom: none;
    }
    .modal-content {
        font-family: 'Poppins', sans-serif;
    }
</style>
<body>
    <div id="mySidebar" class="sidebar bg-dark">
        <a href="{% url 'cadastro_clientes' %}">
            Clientes
        </a>
        <a href="{% url 'ordem_servico' %}">
            Ordem de Serviço
        </a>
        <a href="{% url 'servicos' %}">
            Serviços
        </a>
        <a href="{% url 'usuarios' %}">
            Usuários
        </a>
        <a href="{% url 'relatorios' %}?periodo=mensal">
            Relatórios
        </a>
        <a href="{% url 'faturamento' %}">
            Faturamento
        </a>
    </div>
    <div class="container mt-3 custom-container">
        <div class="d-flex justify-content-start align-items-center">
            <h1 class="me-auto text-success">Ordens de Serviço</h1>
            <div class="shadow bg-success rounded" style="width: 140px; height: 50px; margin-left: auto;">
                <a href="#" style="text-decoration: none; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;" id="btnMostrarFiltro">
                    <img src="{% static 'images/mini-filtro.png' %}" style="width: 20px; margin-right: 5px;">
                    <p class="hover-link" style="font-size: 18px; margin: 0;">Filtros</p>
                </a>
            </div>
            <div class="shadow bg-success rounded" style="width: 140px; height: 50px; margin-left: 85px;">
                <a href="{% url 'newos' %}" style="text-decoration: none; display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
                    <img src="{% static 'images/novo.png' %}" style="width: 20px; margin-right: 5px;">
                    <p class="hover-link" style="font-size: 18px; margin: 0;">Novo</p>
                </a>
            </div>
        </div>

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <p>{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <!-- FILTRO ORDEM SERVICO -->
        <div id="divFiltro">
            <form id="formfiltroOS" action="{% url 'filtrar_os' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        <label for="id" class="form-label small">Identificador:</label>
                        <input class="form-control" type="number" name="identificador">
                    </div>
                    <div class="col">
                        <label for="nome" class="form-label small">Nome do Cliente:</label>
                        <input class="form-control" type="text" name="nome">
                    </div>
                    <div class="col">
                        <label for="veiculo" class="form-label small">Veículo:</label>
                        <input class="form-control" type="text" name="veiculo">
                    </div>
                    <div class="col">
                        <label for="placa" class="form-label small">Placa:</label>
                        <input class="form-control" type="text" name="placa">
                    </div>
                    <div class="col">
                        <label for="status" class="form-label small">Situação:</label>
                        <select class="form-control" id="status" name="situacao">
                            <option value=""></option>
                            <option value="Em Servico">Em Serviço</option>
                            <option value="Documento Pendente">Documento Pendente</option>
                            <option value="Entregue">Entregue</option>
                            <option value="Servico Faturado">Serviço Faturado</option>
                            <option value="Pendente">Pendente</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="data" class="form-label small">Data do Serviço:</label>
                        <input class="form-control" type="date" name="data">
                    </div>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <button type="reset" class="btn btn-secondary me-3" id="btnResetar">Resetar</button>
                    <button type="submit" class="btn btn-secondary" id="btnFiltrar">Filtrar </button>
                </div>
            </form>
        </div>
        <!-- NAVEGAÇÃO ENTRE A PAGINAÇÃO -->
        {% if ordens_servicos.has_other_pages %}
            <div class="btn-group" role="group" aria-label="Item pagination" style="margin-left: 555px; margin-top: 30px; margin-bottom: -14px;">
                {% if ordens_servicos.has_previous %}
                    <a href="?page={{ ordens_servicos.previous_page_number }}" class="btn btn-outline-success btn-sm">&laquo;</a>
                {% endif %}

                {% for page_number in ordens_servicos.paginator.page_range %}
                    {% if page_number == 1 or page_number == ordens_servicos.paginator.num_pages %}
                        <a href="?page={{ page_number }}" 
                        class="btn btn-outline-success btn-sm {% if page_number == ordens_servicos.number %}active{% endif %}">
                            {{ page_number }}
                        </a>
                    {% elif page_number >= ordens_servicos.number|add:'-1' and page_number <= ordens_servicos.number|add:'1' %}
                        <a href="?page={{ page_number }}" 
                        class="btn btn-outline-success btn-sm {% if page_number == ordens_servicos.number %}active{% endif %}">
                            {{ page_number }}
                        </a>
                    {% elif page_number == ordens_servicos.number|add:'-2' or page_number == ordens_servicos.number|add:'2' %}
                        <span class="btn btn-outline-success btn-sm">...</span>
                    {% endif %}
                {% endfor %}

                {% if ordens_servicos.has_next %}
                    <a href="?page={{ ordens_servicos.next_page_number }}" class="btn btn-outline-success btn-sm">&raquo;</a>
                {% endif %}
            </div>
        {% endif %}
            <!-- MODAL PARA A EXCLUSÃO DE ORDEM DE SERVIÇO -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Tem certeza de que deseja excluir esta Ordem de serviço?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                        <form id="deleteForm" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Sim</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL PARA ALTERAR O STATUS DA OS -->
        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">Confirmação</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'atualizar_status' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="modal-body">
                            <label class="form-label">Alterar situaçõa da ordem de serviço.</label>
                            <input class="form-control" type="number" name="id_ordem_servicos" id="os_id" readonly>
                            <label class="form-label">Situação atual: </label>
                            <input class="form-control" type="text" name="atual_status" id="atual_status" readonly>
                            <label class="form-label">Nova situação: </label>
                            <select class="form-control" name="novo_status" id="novo_status">
                                <option value="Em Servico">Em Serviço</option>
                                <option value="Documento Pendente">Documento Pendente</option>
                                <option value="Entregue">Entregue</option>
                                <option value="Servico Faturado">Serviço Faturado</option>
                                <option value="Pendente">Pendente</option>
                            </select>
                            <label class="form-label">Observações: </label>
                            <textarea class="form-control" id="observacoes" name="observacoes" rows="5" cols="40"></textarea>
                            Documento:
                            <input class="form-control" type="file" name="file" id="file">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- MODAL PARA A FATURA -->
        <div class="modal fade" id="faturaModal" tabindex="-1" aria-labelledby="faturaModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl"> <!-- modal-xl para modal maior -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="faturaModalLabel">Detalhes da Fatura</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="">{% csrf_token %}
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <label for="status" class="form-label">Status:</label>
                                    <input type="text" class="form-control" id="status_fatura">
                                </div>
                                <div class="col">
                                    <label for="">Data de vencimento</label>
                                    <input type="date" class="form-control" id="data_vencimento">
                                </div>
                                <div class="col">
                                    <label for="n_parcelas">Número de parcelas/pagamentos</label>
                                    <input type="text" class="form-control" id="n_parcelas">
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="col">
                                    <label for="">Forma de pagamento</label>
                                    <input type="text" class="form-control" id="forma_pagamento">
                                </div> -->
                                <div class="col">
                                    <label for="">Solicitante</label>
                                    <input type="text" class="form-control" id="solicitante">
                                </div>
                                <div class="col">
                                    <label for="">Tomador do serviço</label>
                                    <input type="text" class="form-control" id="tomador">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="">Arrecadação final</label>
                                    <input type="text" class="form-control" id="arrecadacao">
                                </div>
                                <div class="col">
                                    <label for="">Custo Final</label>
                                    <input type="text" class="form-control" id="custo_final">
                                </div>
                                <div class="col">
                                    <label for="">Valor Total</label>
                                    <input type="text" class="form-control" id="valor_total_fatura">
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <label for="">Lucro total</label>
                                    <input type="text" class="form-control" id="lucro_total">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer gap-3">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- TABELA QUE ITERA SOBRE AS ORDENS DE SERVIÇO -->
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Veículo</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Situação</th>
                    <th scope="col">Valor Final</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody  id="tbodyOrdens">
                {% for ordem_servico in ordens_servicos %}
                    <tr>
                        <th>
                            {{ordem_servico.id}}
                            <a href="#" style="text-decoration: none;" class="change-status" onclick="AlterarStatus('{{ ordem_servico.id }}', '{{ ordem_servico.status }}')">
                                <img src="{% static 'images/status.png' %}" style="width: 23px; height: 21px; margin-left: 9px;" alt="status" title="ALTERAR STATUS">
                            </a>
                            {% if ordem_servico.status == "Entregue"%}
                            <a href="#" onclick="MostrarFatura('{{ ordem_servico.id }}', '{{ ordem_servico.valor_f }}')" data-bs-toggle="modal" data-bs-target="#faturaModal">
                                <img src="{% static 'images/fatura.png' %}" style="width: 28px; height: 26px;" alt="fatura" title="FATURA">
                            </a>
                            {% endif %}
                        </th>
                        <td>{{ordem_servico.nome_cliente|upper}}</td>
                        <td>{{ordem_servico.modelo}}</td>
                        <td>{{ordem_servico.placa}}</td>
                        <td>{{ordem_servico.status}}</td>
                        <td style="color: #2ac44e; font-weight: bold;">{{ordem_servico.valor_f}}</td>
                        <td>
                            <div style="display: flex; gap: 8px;">
                                <!-- EXCLUIR  ORDEM DE SERVIÇO -->
                                <a href="#" class="delete-button" data-toggle="modal" data-target="#confirmDeleteModal" data-url="{% url 'excluir_os' ordem_servico.id %}" title="EXCLUIR" style="height: 20px;">
                                    <img src="{% static 'images/excluir.png' %}" style="width: 22px; height: 22px;">
                                </a>
                                <!-- CONSULTAR ORDEM DE SERVIÇO -->
                                <a href="{% url 'consultar_os' ordem_servico.id %}"  title="CONSULTAR" style="height: 20px;">
                                    <img src="{% static 'images/consultar.png' %}" style="width: 22px; height: 23px;">
                                </a>
                                <!-- EDITAR ORDEM DE SERVIÇO -->
                                <a href="{% url 'editar_os' ordem_servico.id %}"  title="EDITAR" style="height: 20px;">
                                    <img src="{% static 'images/editaros.png' %}" style="width: 22px; height: 23px;">
                                </a>
                                <!-- IMPRIMIR ORDEM DE SERVIÇO -->
                                <a href="{% url 'imprimir_os' ordem_servico.id %}"  title="IMPRIMIR" style="height: 20px;">
                                    <img src="{% static 'images/imprimiros.png' %}" style="width: 22px; height: 23px;">
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>

        $('.delete-button').click(function() {
            var url = $(this).data('url');
            $('#deleteForm').attr('action', url);
        });

        $(document).ready(function() {
            // Função para mostrar/ocultar o filtro
            $("#btnMostrarFiltro").click(function() {
                $("#divFiltro").toggle();
            });
        
            // Submeter o formulário ao pressionar Enter no campo InputFiltro
            $("#InputFiltro").on("keypress", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault(); // Previne o comportamento padrão do Enter
                    console.log('Submetendo formulário'); // Verificação de debug
                    $("#btnFiltrar").click(); // Submete o formulário
                }
            });
        });

        function AlterarStatus(id_os, status_atual) {
            var input_id = document.getElementById('os_id');
            input_id.value = id_os;
            var input_status = document.getElementById('atual_status');
            input_status.value = status_atual;
        }
        function MostrarFatura(id_os, valor_final_fat) {
            // pega o id da os para colocar no input
            var status_fat = document.getElementById('status_fatura');
            var valor_total_fatura = document.getElementById('valor_total_fatura');
            valor_total_fatura.value = valor_final_fat;
            status_fat.value = 'pendente';
        }
        $(document).ready(function() {

            $('.change-status').click(function(event) {
                event.preventDefault();
                $('.option-box').hide();
                $('#confirmationModal').modal('show');
            });
        });
        
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}