{% extends "base.html" %}
{% load static %}

{% block title %}Deesp Ordem Serviço{% endblock %}
{% comment %} edit {% endcomment %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <script src="{% static "clientes/methods.js" %}"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    <title>Ordem de serviço</title>
</head>
<style>
    body {
            font-family: 'Poppins', sans-serif;
        }
    .hover-link {
          color: black; /* Cor padrão do link */
          transition: color 0.3s ease; 
        }  
    .hover-link:hover {
        color: rgb(16, 56, 16); 
        text-decoration: underline;
    }
    .custom-container {
        margin-left: 110px; /* Ajuste conforme necessário */
        margin-right: 100px; /* Ajuste conforme necessário */
    }
    .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        padding: 5px;
        margin: 5px 0;
    }
    .alert-error {
        color: rgb(158, 4, 4);
        background-color: #e3b2b0;
        border-color: #c3e6cb;
        padding: 5px;
        margin: 5px 0;
    }
    #divFiltro {
        display: none; /* Oculta o formulário de filtro inicialmente */
        position: relative;
        background-color: white;
        border: 2px solid #ccc;
        padding: 5px;
        z-index: 1000;
    }
    .readonly-input {
        background-color: #d4dade;
        border: none;
        box-shadow: none;
        color: #495057;
        padding-left: 0;
        }
    .option-box {
        display: none;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        width: 180px;
        border-radius: 5px;
    }
    .option-link {
        height: 25px;
        display: block;
        padding: 10px;
        color: #333;
        text-decoration: none;
        border-bottom: 1px solid #ccc;
        font-size: 12px;
    }
    .option-link:hover {
        background-color: #f0f0f0;
    }
    .option-link:last-child {
        border-bottom: none;
    }
    .modal-content {
        font-family: 'Poppins', sans-serif;
    }
</style>
<body>
    <div class="container mt-3 custom-container">
        <div class="d-flex justify-content-start align-items-center">
            <h2 class="me-auto text-success">Ordens de Serviço</h2>
            <div class="shadow pt-1 bg-success rounded d-flex flex-column align-items-center bg-success" style="width: 110px; margin-left: auto;">
                <a href="#" style="text-decoration: none;" id="btnMostrarFiltro">
                    <p class="hover-link">Filtros</p>
                </a>
            </div>
            <div class="shadow pt-1 bg-success rounded d-flex flex-column align-items-center bg-success" style="width: 110px; margin-left: 85px;">
                <a href="{% url 'newos' %}" style="text-decoration: none;" id="btnMostrarClientes">
                    <p class="hover-link">+ OS</p>
                </a>
            </div>
        </div>

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <p>{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <!-- FILTRO ORDEM SERVICO -->
        <div id="divFiltro">
            <form id="formfiltroOS" action="{% url 'filtrar_os' %}" method="GET" enctype="multipart/form-data">{% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">Selecionar filtro</label>
                        <select class="form-control readonly-input" id="dropdown">
                            <option value="Nome_cliente">Nome do cliente</option>
                            <option value="Id_Cliente">Id do cliente</option>
                            <option value="Id_Os">Id da O.S</option>
                            <option value="veiculo">Veículo</option>
                            <option value="Placa">Placa</option>
                            <option value="status">Situação</option>
                        </select>
                    </div>
                    <img src="{% static 'images/filtro.png' %}" style="width: 55px; height: 34px; margin-top: 30px;">
                    <div class="col">
                        <label class="form-label">Filtrar por</label>
                        <input type="text" class="form-control readonly-input" id="InputFiltro">
                    </div>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <button type="button" class="btn btn-success" id="btnFiltrar">Filtrar </button>
                </div>
            </form>
        </div>
        <!-- NAVEGAÇÃO ENTRE A PAGINAÇÃO -->
        {% if ordens_servicos.has_other_pages %}
            <div class="btn-group" role="group" aria-label="Item pagination" style="margin-left: 416px; margin-top: 30px; margin-bottom: -14px;">
                {% if ordens_servicos.has_previous %}
                    <a href="?page={{ ordens_servicos.previous_page_number }}" class="btn btn-outline-success btn-sm">&laquo;</a>
                {% endif %}

                {% for page_number in ordens_servicos.paginator.page_range %}
                    {% if ordens_servicos.number == page_number %}
                        <button class="btn btn-outline-success btn-sm active">
                            <span>{{ page_number }} <span class="sr-only">(Atual)</span></span>
                        </button>
                    {% else %}
                        <a href="?page={{ page_number }}" class="btn btn-outline-success btn-sm">
                            {{ page_number }}
                        </a>
                    {% endif %}
                {% endfor %}

                {% if ordens_servicos.has_next %}
                    <a href="?page={{ ordens_servicos.next_page_number }}" class="btn btn-outline-success btn-sm">&raquo;</a>
                {% endif %}
            </div>
        {% endif %}
            <!-- MODAL PARA A EXCLUSÃO DE ORDEM DE SERVIÇO -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Tem certeza de que deseja excluir esta Ordem de serviço?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                        <form id="deleteForm" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Sim</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL PARA ALTERAR O STATUS DA OS -->
        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">Confirmação</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'atualizar_status' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="modal-body">
                            Tem certeza que deseja alterar a situação da ordem de serviço?
                        </div>
                        <input type="hidden" name="id_ordem_servicos" id="os_id">
                        <input type="hidden" name="novo_status" id="novo_status">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                            <button type="submit" class="btn btn-success">Sim</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- TABELA QUE ITERA SOBRE AS ORDENS DE SERVIÇO -->
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Veículo</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Situação</th>
                    <th scope="col">Valor Final</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody  id="tbodyOrdens">
                {% for ordem_servico in ordens_servicos %}
                    <tr>
                        <th>
                            {{ordem_servico.id}}
                            <a href="#" class="openOptions">
                                <img src="{% static 'images/status.png' %}" style="width: 23px; height: 21px; margin-left: 9px;" alt="status" title="ALTERAR STATUS">
                            </a>
                            <div class="option-box" id="box">
                                <p class="text-success" style="font-size: 12px; border-bottom: 1px solid black; height: 15px; display: block; margin-bottom: -2px;">Alterar Situação:</p>
                                <a href="#" class="option-link" onclick="AlterarStatus('{{ ordem_servico.id }}', 'Em Servico')">Em Serviço</a>
                                <a href="#" class="option-link" onclick="AlterarStatus('{{ ordem_servico.id }}', 'Documento Pendente')">Documento Pendente</a>
                                <a href="#" class="option-link" onclick="AlterarStatus('{{ ordem_servico.id }}', 'Entregue')">Entregue</a>
                                <a href="#" class="option-link" onclick="AlterarStatus('{{ ordem_servico.id }}', 'Servico Faturado')">Serviço Faturado</a>
                                <a href="#" class="option-link" onclick="AlterarStatus('{{ ordem_servico.id }}', 'Pendente')">Pendente</a>
                            </div>
                        </th>
                        <td>{{ordem_servico.nome_cliente}}</td>
                        <td>{{ordem_servico.modelo}}</td>
                        <td>{{ordem_servico.placa}}</td>
                        <td>{{ordem_servico.status}}</td>
                        <td style="color: #2ac44e; font-weight: bold;">{{ordem_servico.valor_f}}</td>
                        <td>
                            <!-- EXCLUIR  ORDEM DE SERVIÇO -->
                            <a href="#" class="delete-button" data-toggle="modal" data-target="#confirmDeleteModal" data-url="{% url 'excluir_os' ordem_servico.id %}" title="EXCLUIR" style="height: 20px; margin-left: -12px;">
                                <img src="{% static 'images/excluir.png' %}" style="width: 24px; height: 22px;">
                            </a>
                        </td>
                        <td>
                            <!-- CONSULTAR ORDEM DE SERVIÇO -->
                            <a href="{% url 'consultar_os' ordem_servico.id %}"  title="CONSULTAR" style="height: 20px; margin-left: -71px;">
                                <img src="{% static 'images/consultar.png' %}" style="width: 22px; height: 23px;">
                            </a>
                        </td>
                        <td>
                            <!-- EDITAR ORDEM DE SERVIÇO -->
                            <a href="{% url 'editar_os' ordem_servico.id %}"  title="EDITAR" style="height: 20px; margin-left: -70px;">
                                <img src="{% static 'images/editaros.png' %}" style="width: 22px; height: 23px;">
                            </a>
                        </td>
                        <td>
                            <!-- IMPRIMIR ORDEM DE SERVIÇO -->
                            <a href="{% url 'imprimir_os' ordem_servico.id %}"  title="IMPRIMIR" style="height: 20px; margin-left: -60px;">
                                <img src="{% static 'images/imprimiros.png' %}" style="width: 22px; height: 23px;">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>

        $('.delete-button').click(function() {
            var url = $(this).data('url');
            $('#deleteForm').attr('action', url);
        });

        $(document).ready(function() {
            // Função para mostrar/ocultar o filtro
            $("#btnMostrarFiltro").click(function() {
                $("#divFiltro").toggle();
            });
        
            // Submeter o formulário ao pressionar Enter no campo InputFiltro
            $("#InputFiltro").on("keypress", function(event) {
                console.log('aqui foi');
                if (event.key === "Enter") {
                    event.preventDefault(); // Previne o comportamento padrão do Enter
                    console.log('Submetendo formulário'); // Verificação de debug
                    $("#btnFiltrar").click(); // Submete o formulário
                }
            });
        });

        document.getElementById('btnFiltrar').addEventListener('click', function(event) {
            var filterType = document.getElementById('dropdown').value;
            let tipo = '';

            if (filterType == 'Nome_cliente') {
                tipo = 'nome_cliente';
            } else if (filterType == 'Id_Cliente') {
                tipo = 'id_cliente';
            } else if (filterType == 'Id_Os') {
                tipo = 'id_os';
            } else if (filterType == 'veiculo') {
                tipo = 'veiculo';
            } else if (filterType == 'status') {
                tipo = 'status';
            } else {
                tipo = 'placa';
            }

            var filterValue = document.getElementById('InputFiltro').value;
            console.log(filterValue);

            let url = `{% url 'filtrar_os' %}?tipo=${tipo}&valor_filtro=${filterValue}`;
            window.location.href = url;
        });

        function AlterarStatus(id_os, novo_status) {
            console.log('entrando na função');
            var input_id = document.getElementById('os_id');
            var input_status = document.getElementById('novo_status');
            input_id.value = id_os;
            input_status.value = novo_status;
        }
        $(document).ready(function() {
            $('.openOptions').click(function(event) {
                event.preventDefault();
                var optionBox = $(this).siblings('.option-box');
                var offset = $(this).offset();

                // Esconde todos os option-box antes de mostrar o novo
                $('.option-box').not(optionBox).hide();

                optionBox.css({
                    top: offset.top - optionBox.outerHeight() - 10,
                    left: offset.left
                }).toggle();
            });

            // Define o manipulador de clique no documento apenas uma vez
            $(document).click(function(event) {
                if (!$(event.target).closest('.openOptions, .option-box').length) {
                    $('.option-box').hide();
                }
            });

            $('.option-link').click(function(event) {
                event.preventDefault();
                $('.option-box').hide();
                $('#confirmationModal').modal('show');
            });
        });
        
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}